body {

    background-color: #C9A0DC;

}

body div.page-heading h3{

    font-family: "Helvetica", sans-serif;

}

body div.page-heading h1{

    font-family: "Helvetica", sans-serif;

}

body div.summary p {

    font-family: "Helvetica", sans-serif;

}